$primary: #5AC2D9;
$primary-dark: #2C7B8C;
$secondary: #A69C34;
$secondary-dark: #8C8433;
$accent: #DF739D;
$black: #101820;
$dark: #203640;
$white: #fff;

.pure-button-primary {
    background-color: $primary;
    color: $black;
}