@import "color.scss";

#dialog-show-area {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1024;
    background-color: rgba(0,0,0, 0.6);
    width: 100vw;
    height: 100vh;
}

#dialog[data-type="image-creater-dialog"] {
    width: 100vw;
    max-height: 100vh;
    background-color: $white;
}