@import "color.scss";

#content[data-type="editor"] {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 100%;
    row-gap: 3ch;
    & input[data-type="name"] {
        font-size: 1.2rem;
        width: 100%;
    }
    & > div {
        display: grid;
        grid-template-columns: repeat(auto-fill, 35ch);
        column-gap: 4ch;
        row-gap: 1ch;
        & > div {
            display: grid;
            grid-template-columns: 10ch 1fr;
            grid-auto-columns: 1fr;
            grid-auto-flow: column;
            column-gap: 2ch;
            & > label {
                text-align: right;
            }
            & > input {
                width: 100%;
            }
        }
    }
    & > h3 {
        text-align: center;
        border-bottom: 0.2ch solid $primary;
    }
    & > .remove-part-button{
        justify-self: end;
    }
    & > textarea {
        min-height: 30rem;
    }
}
