@import "./pure-release-1.0.1/pure-min.css";
@import "color.scss";
@import "font.scss";
@import "editor.scss";

* {
    box-sizing: border-box;
}

textarea:focus, input:focus {
    border-color: $primary !important;
}

textarea {
    resize: none;
}

button, input, select, textarea {
    font-family : inherit;
    font-size : 100%;
}

html {
    color: $black;
    padding: 0;
    margin: 0;
    font-family: $sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: $primary-dark;
    display: grid;
    justify-items: center;
    align-items: center;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: $white;
    display: flex;
}

menu {
    margin: 0;
    padding: 0;
    & > .item {
        padding-left: 4ch;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: left;
        border-radius: 0;
        background-color: $white;
        &[data-selected="true"]{
            background-color: $primary;
        }
    }
}

#content {
    flex-grow: 1;
    overflow-y: scroll;
}

@media screen and (orientation: portrait) {
    #app {
        flex-direction: column;
    }
}

@media screen and (orientation: landscape) {
    #app {
        flex-direction: row;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    menu {
        min-width: 20ch;
        max-width: 20ch;
        border-right: 0.5ch solid $primary;
        display: grid;
        grid-auto-rows: max-content;
        & > .item:not([data-selected="true"]) {
            border-bottom: 0.3ch solid $primary;
        }
    }

    #content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 1400px) {
    #app {
        width: 1400px;
    }
}

@media screen and (min-height: 1030px) {
    #app {
        height: 1030px;
    }
}

@media screen and (min-width: 1400px) and (min-height: 1030px) {
    #app {
        border-radius: 1rem;
    }
}