@import "./pure-release-1.0.1/pure-min.css";
@import "color.scss";
@import "font.scss";

* {
    box-sizing: border-box;
}

.noCoffeeSvgFilterDoc{
    display: hidden;
}

html {
    color: $black;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: $dark;
    display: grid;
    justify-items: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
    font-style: normal;
    font-weight: 400;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: $white;
    display: flex;
}

@media screen and (orientation: portrait) {
    #app {
        flex-direction: column;
    }
}

@media screen and (orientation: landscape) {
    #app {
        flex-direction: row;
    }

    menu {
        width: 20ch;
        border-right: 0.5ch solid $primary;
    }
}

@media screen and (min-width: 1400px) {
    #app {
        width: 1400px;
    }
}

@media screen and (min-height: 1030px) {
    #app {
        height: 1030px;
    }
}

@media screen and (min-width: 1400px) and (min-height: 1030px) {
    #app {
        border-radius: 1rem;
    }
}